[submodule "lvproto"]
	path = lvproto
	url = https://github.com/Librevault/librevault-common.git
	branch = master
[submodule "contrib/dir_monitor"]
	path = contrib/dir_monitor
	url = https://github.com/Librevault/dir_monitor.git
	branch = master
[submodule "contrib/rabin"]
	path = contrib/rabin
	url = https://github.com/Librevault/rabin.git
	branch = master
[submodule "contrib/libnatpmp"]
	path = contrib/libnatpmp
	url = https://github.com/Librevault/libnatpmp.git
	branch = master
[submodule "contrib/websocketpp"]
	path = contrib/websocketpp
	url = https://github.com/Librevault/websocketpp
	branch = develop
[submodule "contrib/dht"]
	path = contrib/dht
	url = https://github.com/Librevault/dht.git
	branch = master
[submodule "contrib/miniupnp"]
	path = contrib/miniupnp
	url = https://github.com/Librevault/miniupnp.git
	branch = master