[submodule "contrib/rabin"]
	path = contrib/rabin
	url = https://github.com/Librevault/rabin.git
[submodule "contrib/libnatpmp"]
	path = contrib/libnatpmp
	url = https://github.com/Librevault/libnatpmp.git
[submodule "contrib/dht"]
	path = contrib/dht
	url = https://github.com/Librevault/dht.git
