<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Librevault</string>
	<key>CFBundleIconFile</key>
	<string>Librevault.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>@librevault_VERSION@</string>
	<key>CFBundleShortVersionString</key>
	<string>@librevault_VERSION@</string>
	<key>CFBundleSignature</key>
	<string>LVLT</string>
	<key>CFBundleExecutable</key>
	<string>librevault-gui</string>
	<key>CFBundleIdentifier</key>
	<string>com.librevault.desktop</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014-2016 Alexander Shishenko</string>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>10.10.0</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUScheduledCheckInterval</key>
	<string>86400</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lvlt</string>
			</array>
			<key>CFBundleURLName</key>
			<string>Librevault Shared Directory URL</string>
		</dict>
	</array>
</dict>
</plist>
